html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-weight: var(--font-weight-medium);
}

p, a {
    font-size: max(var(--font-size-md), 1.2vw);
}

h1 {
    font-family: var(--font-family-secondary);
    font-size: clamp(var(--font-size-2xl), 6vw, 8vw);
    font-weight: var(--font-weight-bold);
    margin: 0;
    align-self: center;
}



/* Animaciones */


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes GradientFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

